---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I'm a dedicated professional with a background in culinary arts and a
    passion for web development. With a decade in the culinary world, I've
    mastered organization, time management, and effective communication.
    Transitioning to web development, I'm proficient in technologies like React
    and Node, driven by a commitment to innovation and collaboration. My unique
    blend of skills, from leadership to technical prowess, equips me to create
    impactful solutions that positively impact lives. I'm excited to contribute
    my expertise to projects that matter and promote positive change within the
    tech community.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Full-Stack Web Develoment"
      subtitle="January 2023 to October 2023 at Concordia University, Montreal, QC"
    />
    <TimeLineElement
      title="AWS CCP & SOL-ARC"
      subtitle="July 2023 to January 2024 at Keyin College, St. John's, NL"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Kitchen Operations Manager"
      subtitle="April 2019 to December 2022 at The Gathering Place, St. John's, NL"
    >
      <p>
        • Supervised a team of 7 kitchen staff and hundreds of volunteers and
        oversaw the daily preparation and delivery of 3 hot meals for hundreds
        of vulnerable individuals in St. John's.
      </p>
      <p>
        • Developed and distributed comprehensive food safety documentation,
        including standard operating procedures and checklists that ensured
        compliance with local health department regulations.
      </p>
      <p>
        • Collaborated with cross-functional teams to identify gaps in current
        policies and propose solutions, in preparation for Accreditation as a
        Community Health Centre.
      </p>
    </TimeLineElement>
    <br />
    <TimeLineElement
      title="Sous Chef"
      subtitle="June 2018 to September 2018 at Rifflin' Hitch Lodge, Labrador, NL"
    >
      <p>
        • Coordinated with cross-functional teams to execute high-quality dining
        services for over 20 groups, resulting in a high rate of satisfaction
        from the guests.
      </p>
    </TimeLineElement>
    <br />
    <TimeLineElement
      title="Sous Chef"
      subtitle="May 2015 to May 2018 at Mallard Cottage, St. John's, NL"
    >
      <p>
        • Spearheaded the development of new menu items, resulting in an
        increase in sales and recognition as one of the top restaurants in
        Canada from 2015 to 2018.
      </p>
      <p>
        • Managed inventory and facilitated ordering from major and local
        vendors.
      </p>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> AWS Certified Cloud Practitoner</a>
    </li>
    <!-- <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li> -->
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>JavaScript</li>
    <li>React.js</li>
    <li>Node.js</li>
    <li>HTML5</li>
    <li>CSS3</li>
    <li>styled-components</li>
    <li>MongoDB</li>
    <li>Auth0</li>
    <li>OpenAI</li>
    <li>Git</li>
    <!-- <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li> -->
  </ul>
</BaseLayout>
