---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects Header</div>
  </div>

  <HorizontalCard
    title="Password Generator"
    img="/pw-gen.png"
    desc="Full-Stack password generator web app built with MERN stack. Able to generate and save passwords of varying lengths and complexities with labels indicating what they are used for."
    url="https://github.com/Brianjanes/password-generator"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="AI Sommelier"
    img="/perfect-pairing.png"
    desc="React web app that uses openAI to take a meal that the user wants to have and reccomends a few diffrent wine pairing options at varying price points. Initially I scraped all of the wine information from the local liquor store website but decided to go for a more broad route, reducing the specificity of the user's location."
    url="https://github.com/Brianjanes/perfect-pairing"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="DOGWALKR"
    img="/dogwalkr.png"
    desc="My first MERN stack web app. A social media site that is intended to help people connect for dog walks more easily. Using google-maps-react library to hone in a the user's location, and Auth0 for authentication. The idea is to have all of your dog exercising/socializing done in one place, saving your valuable time!"
    url="https://github.com/Brianjanes/dogwalkr"
  />
  <!-- <div class="divider my-0"></div>
  <HorizontalCard
    title="Bug Tracker"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="https://github.com/Brianjanes/bug-tracker"
  /> -->

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Projects Header</div>
  </div>

  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 4"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 5"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  /> -->
</BaseLayout>
